# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/*
!*.xcworkspace/xcshareddata/

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift
*.swiftmodule
*.swiftdoc

# User settings
xcuserdata/
*.xcuserstate
*.xcuserdatad

# macOS
.DS_Store
